button.v-btn, a.v-btn, a.v-tabs__item {
  text-transform: none;
}

.underline-btn {
  text-decoration: underline !important;
}

.responsive-image {
  width: 100%;
  height: auto;
}

.centered-image {
  margin: 0 auto;
}

.plan-card-container {
  padding: 0px;
  position: relative;
  text-align: center;
  color: grey;
}

.left-plan-text {
  position: absolute;
  top: 40%;
  left: 8%;
}
.right-plan-text {
  position: absolute;
  top: 40%;
  right: 5%;
}
